# SPECTRUM KERNEL MANAGER
# Ramdisk file for profile based kernel management
# Implimentation inspired by Franco's fku profiles

# Initialization
on property:sys.boot_completed=1
   # Set default profile on first boot
   exec u:r:init:s0 root root -- /init.spectrum.sh
   exec u:r:su:s0 root root -- /init.spectrum.sh
   # Enable Spectrum support
   setprop spectrum.support 1
   # Add kernel name
   setprop persist.spectrum.kernel SeniXa-EAS

# Balance (default profile)
on property:persist.spectrum.profile=0

    # Little Cluster
    chmod 0644 /sys/devices/system/cpu/cpu0/cpufreq/scaling_max_freq
    chmod 0644 /sys/devices/system/cpu/cpu0/cpufreq/scaling_min_freq

    # CPU Values
    write /sys/devices/system/cpu/cpu0/cpufreq/scaling_governor schedutil
    write /sys/devices/system/cpu/cpu0/cpufreq/schedutil/up_rate_limit_us 1000
    write /sys/devices/system/cpu/cpu0/cpufreq/schedutil/down_rate_limit_us 10000
    write /sys/devices/system/cpu/cpu0/cpufreq/schedutil/iowait_boost_enable 0
    write /sys/devices/system/cpu/cpu0/cpufreq/scaling_min_freq 633600
    write /sys/devices/system/cpu/cpu0/cpufreq/scaling_max_freq 1536000

    # Big Cluster
    chmod 0644 /sys/devices/system/cpu/cpu4/cpufreq/scaling_max_freq
    chmod 0644 /sys/devices/system/cpu/cpu4/cpufreq/scaling_min_freq

    # CPU Values
    write /sys/devices/system/cpu/cpu4/cpufreq/scaling_governor schedutil
    write /sys/devices/system/cpu/cpu4/cpufreq/schedutil/up_rate_limit_us 1000
    write /sys/devices/system/cpu/cpu4/cpufreq/schedutil/down_rate_limit_us 10000
    write /sys/devices/system/cpu/cpu4/cpufreq/schedutil/iowait_boost_enable 0
    write /sys/devices/system/cpu/cpu4/cpufreq/scaling_min_freq 633600
    write /sys/devices/system/cpu/cpu4/cpufreq/scaling_max_freq 1958400

    # Input-Boost
    write /sys/module/cpu_boost/parameters/input_boost_enabled 1
    write /sys/module/cpu_boost/parameters/input_boost_ms 80
    write /sys/module/cpu_boost/parameters/input_boost_freq_lp 90200
    write /sys/module/cpu_boost/parameters/input_boost_freq_hp 1536000
    write /sys/module/cpu_boost/parameters/input_boost_min_freq_lp 1113600
    write /sys/module/cpu_boost/parameters/input_boost_min_freq_hp 633600
    write /sys/module/cpu_boost/parameters/dynamic_stune_boost 16

    # set default schedTune value for foreground/top-app (only affects EAS)
    write /dev/stune/foreground/schedtune.boost 1
    write /dev/stune/background/schedtune.boost 1
    write /dev/stune/top-app/schedtune.boost 60
    write /dev/stune/rt/schedtune.boost 3

    # Power Efficient Eorkqueues
    write /sys/module/workqueue/parameters/power_efficient Y

    # CPU Enabled
    write /sys/devices/system/cpu/cpu7/online 1
    write /sys/devices/system/cpu/cpu6/online 1

    # GPU Values
    write /sys/class/kgsl/kgsl-3d0/devfreq/governor msm-adreno-tz
    write /sys/class/kgsl/kgsl-3d0/devfreq/max_freq 588000000
    write /sys/class/kgsl/kgsl-3d0/devfreq/min_freq 160000000

    # Adreno Boost
    write /sys/class/kgsl/kgsl-3d0/devfreq/adrenoboost 0

    # Adreno Idler
    write /sys/module/adreno_idler/parameters/adreno_idler_active 1
    write /sys/module/adreno_idler/parameters/adreno_idler_workload 8000
    write /sys/module/adreno_idler/parameters/adreno_idler_idlewait 5
    write /sys/module/adreno_idler/parameters/adreno_idler_downdifferential 25

    # I/O Scheduler
    write /sys/block/mmcblk0/queue/read_ahead_kb 512
    write /sys/block/mmcblk0/queue/scheduler maple

    # Fast Charging
    write /sys/kernel/fast_charge/force_fast_charge 1

# Performance
on property:persist.spectrum.profile=1

    # Little Cluster
    chmod 0644 /sys/devices/system/cpu/cpu0/cpufreq/scaling_max_freq
    chmod 0644 /sys/devices/system/cpu/cpu0/cpufreq/scaling_min_freq

    # CPU Values
    write /sys/devices/system/cpu/cpu0/cpufreq/scaling_governor pwrutilx
    write /sys/devices/system/cpu/cpu0/cpufreq/schedutil/up_rate_limit_us 500
    write /sys/devices/system/cpu/cpu0/cpufreq/pwrutilx/down_rate_limit_us 20000
    write /sys/devices/system/cpu/cpu0/cpufreq/pwrutilx/iowait_boost_enable 0
    write /sys/devices/system/cpu/cpu0/cpufreq/scaling_min_freq 902000
    write /sys/devices/system/cpu/cpu0/cpufreq/scaling_max_freq 1747200

    # Big Cluster
    chmod 0644 /sys/devices/system/cpu/cpu4/cpufreq/scaling_max_freq
    chmod 0644 /sys/devices/system/cpu/cpu4/cpufreq/scaling_min_freq

    # CPU Values
    write /sys/devices/system/cpu/cpu4/cpufreq/scaling_governor pwrutilx
    write /sys/devices/system/cpu/cpu4/cpufreq/schedutil/up_rate_limit_us 500
    write /sys/devices/system/cpu/cpu4/cpufreq/schedutil/down_rate_limit_us 20000
    write /sys/devices/system/cpu/cpu4/cpufreq/schedutil/iowait_boost_enable 0
    write /sys/devices/system/cpu/cpu4/cpufreq/scaling_min_freq 1113600
    write /sys/devices/system/cpu/cpu4/cpufreq/scaling_max_freq 2150400

    # Input-Boost
    write /sys/module/cpu_boost/parameters/input_boost_enabled 1
    write /sys/module/cpu_boost/parameters/input_boost_ms 100
    write /sys/module/cpu_boost/parameters/input_boost_freq_lp 1401600
    write /sys/module/cpu_boost/parameters/input_boost_freq_hp 1843200
    write /sys/module/cpu_boost/parameters/input_boost_min_freq_lp 1401600
    write /sys/module/cpu_boost/parameters/input_boost_min_freq_hp 633600
    write /sys/module/cpu_boost/parameters/dynamic_stune_boost 16

    # set default schedTune value for foreground/top-app (only affects EAS)
    write /dev/stune/foreground/schedtune.boost 10
    write /dev/stune/background/schedtune.boost 12
    write /dev/stune/top-app/schedtune.boost 100
    write /dev/stune/rt/schedtune.boost 5

    # Power Efficient Workqueues
    write /sys/module/workqueue/parameters/power_efficient Y

    # CPU Enabled
    write /sys/devices/system/cpu/cpu0/online 1
    write /sys/devices/system/cpu/cpu1/online 1
    write /sys/devices/system/cpu/cpu2/online 1
    write /sys/devices/system/cpu/cpu3/online 1
    write /sys/devices/system/cpu/cpu4/online 1
    write /sys/devices/system/cpu/cpu5/online 1
    write /sys/devices/system/cpu/cpu6/online 1
    write /sys/devices/system/cpu/cpu7/online 1

    # GPU Values
    write /sys/class/kgsl/kgsl-3d0/devfreq/governor msm-adreno-tz
    write /sys/class/kgsl/kgsl-3d0/devfreq/max_freq 750000000
    write /sys/class/kgsl/kgsl-3d0/devfreq/min_freq 266000000

    # Adreno Boost
    write /sys/class/kgsl/kgsl-3d0/devfreq/adrenoboost 1

    # Adreno Idler
    write /sys/module/adreno_idler/parameters/adreno_idler_active 1
    write /sys/module/adreno_idler/parameters/adreno_idler_workload 6000
    write /sys/module/adreno_idler/parameters/adreno_idler_idlewait 15
    write /sys/module/adreno_idler/parameters/adreno_idler_downdifferential 30

    # I/O Scheduler
    write /sys/block/mmcblk0/queue/read_ahead_kb 1024
    write /sys/block/mmcblk0/queue/scheduler fiops

    # Fast Charging
    write /sys/kernel/fast_charge/force_fast_charge 1

# Battery
on property:persist.spectrum.profile=2

    # Little Cluster
    chmod 0644 /sys/devices/system/cpu/cpu0/cpufreq/scaling_max_freq
    chmod 0644 /sys/devices/system/cpu/cpu0/cpufreq/scaling_min_freq

    # CPU Values
    write /sys/devices/system/cpu/cpu0/cpufreq/scaling_governor schedalucard
    write /sys/devices/system/cpu/cpu0/cpufreq/schedalucard/up_rate_limit_us 1500
    write /sys/devices/system/cpu/cpu0/cpufreq/schedalucard/down_rate_limit_us 5000
    write /sys/devices/system/cpu/cpu0/cpufreq/schedalucard/iowait_boost_enable 0
    write /sys/devices/system/cpu/cpu0/cpufreq/scaling_min_freq 633600
    write /sys/devices/system/cpu/cpu0/cpufreq/scaling_max_freq 1401600

    # Big Cluster
    chmod 0644 /sys/devices/system/cpu/cpu4/cpufreq/scaling_max_freq
    chmod 0644 /sys/devices/system/cpu/cpu4/cpufreq/scaling_min_freq

    # CPU Values
    write /sys/devices/system/cpu/cpu4/cpufreq/scaling_governor schedalucard
    write /sys/devices/system/cpu/cpu4/cpufreq/schedalucard/up_rate_limit_us 1500
    write /sys/devices/system/cpu/cpu4/cpufreq/schedalucard/down_rate_limit_us 5000
    write /sys/devices/system/cpu/cpu4/cpufreq/schedalucard/iowait_boost_enable 0
    write /sys/devices/system/cpu/cpu4/cpufreq/scaling_min_freq 1113600
    write /sys/devices/system/cpu/cpu4/cpufreq/scaling_max_freq 1747200

    # Input-Boost
    write /sys/module/cpu_boost/parameters/input_boost_enabled 1
    write /sys/module/cpu_boost/parameters/input_boost_ms 20
    write /sys/module/cpu_boost/parameters/input_boost_freq_lp 633600
    write /sys/module/cpu_boost/parameters/input_boost_freq_hp 902400
    write /sys/module/cpu_boost/parameters/input_boost_min_freq_lp 902400
    write /sys/module/cpu_boost/parameters/input_boost_min_freq_hp 633600
    write /sys/module/cpu_boost/parameters/dynamic_stune_boost 10

    # set default schedTune value for foreground/top-app (only affects EAS)
    write /dev/stune/foreground/schedtune.boost 1
    write /dev/stune/background/schedtune.boost 1
    write /dev/stune/top-app/schedtune.boost 1
    write /dev/stune/rt/schedtune.boost 5

    # Power Efficient Workqueues
    write /sys/module/workqueue/parameters/power_efficient Y

    # CPU Enabled
    write /sys/devices/system/cpu/cpu7/online 0
    write /sys/devices/system/cpu/cpu6/online 0

    # GPU
    write /sys/class/kgsl/kgsl-3d0/devfreq/governor powersave
    write /sys/class/kgsl/kgsl-3d0/devfreq/max_freq 465000000
    write /sys/class/kgsl/kgsl-3d0/devfreq/min_freq 160000000

    # Adreno Boost
    write /sys/class/kgsl/kgsl-3d0/devfreq/adrenoboost 0

    # Adreno Idler
    write /sys/module/adreno_idler/parameters/adreno_idler_active 1
    write /sys/module/adreno_idler/parameters/adreno_idler_workload 8000
    write /sys/module/adreno_idler/parameters/adreno_idler_idlewait 5
    write /sys/module/adreno_idler/parameters/adreno_idler_downdifferential 25

    # I/O Scheduler
    write /sys/block/mmcblk0/queue/read_ahead_kb 128
    write /sys/block/mmcblk0/queue/scheduler anxiety

    # Fast Charging
    write /sys/kernel/fast_charge/force_fast_charge 1

# Gaming
on property:persist.spectrum.profile=3

    # Little Cluster
    chmod 0644 /sys/devices/system/cpu/cpu0/cpufreq/scaling_max_freq
    chmod 0644 /sys/devices/system/cpu/cpu0/cpufreq/scaling_min_freq

    # CPU Values
    write /sys/devices/system/cpu/cpu0/cpufreq/scaling_governor darkutil
    write /sys/devices/system/cpu/cpu0/cpufreq/darkutil/up_rate_limit_us 500
    write /sys/devices/system/cpu/cpu0/cpufreq/darkutil/down_rate_limit_us 25000
    write /sys/devices/system/cpu/cpu0/cpufreq/darkutil/iowait_boost_enable 0
    write /sys/devices/system/cpu/cpu0/cpufreq/scaling_min_freq 1113600
    write /sys/devices/system/cpu/cpu0/cpufreq/scaling_max_freq 1843200

    # Big Cluster
    chmod 0644 /sys/devices/system/cpu/cpu4/cpufreq/scaling_max_freq
    chmod 0644 /sys/devices/system/cpu/cpu4/cpufreq/scaling_min_freq

    # CPU Values
    write /sys/devices/system/cpu/cpu4/cpufreq/scaling_governor darkutil
    write /sys/devices/system/cpu/cpu4/cpufreq/darkutil/up_rate_limit_us 500
    write /sys/devices/system/cpu/cpu4/cpufreq/darkutil/down_rate_limit_us 25000
    write /sys/devices/system/cpu/cpu4/cpufreq/darkutil/iowait_boost_enable 0
    write /sys/devices/system/cpu/cpu4/cpufreq/scaling_min_freq 1113600
    write /sys/devices/system/cpu/cpu4/cpufreq/scaling_max_freq 2208000

    # Input-Boost
    write /sys/module/cpu_boost/parameters/input_boost_enabled 1
    write /sys/module/cpu_boost/parameters/input_boost_ms 120
    write /sys/module/cpu_boost/parameters/input_boost_freq_lp 1536000
    write /sys/module/cpu_boost/parameters/input_boost_freq_hp 2208000
    write /sys/module/cpu_boost/parameters/input_boost_min_freq_lp 1747200
    write /sys/module/cpu_boost/parameters/input_boost_min_freq_hp 633600
    write /sys/module/cpu_boost/parameters/dynamic_stune_boost 10

    # set default schedTune value for foreground/top-app (only affects EAS)
    write /dev/stune/foreground/schedtune.boost 100
    write /dev/stune/background/schedtune.boost 50
    write /dev/stune/top-app/schedtune.boost 1
    write /dev/stune/rt/schedtune.boost 50

    # Power efficient Workqueues
    write /sys/module/workqueue/parameters/power_efficient N

    # CPU Enabled
    write /sys/devices/system/cpu/cpu0/online 1
    write /sys/devices/system/cpu/cpu1/online 1
    write /sys/devices/system/cpu/cpu2/online 1
    write /sys/devices/system/cpu/cpu3/online 1
    write /sys/devices/system/cpu/cpu4/online 1
    write /sys/devices/system/cpu/cpu5/online 1
    write /sys/devices/system/cpu/cpu6/online 1
    write /sys/devices/system/cpu/cpu7/online 1

    # GPU
    write /sys/class/kgsl/kgsl-3d0/devfreq/governor performance
    write /sys/class/kgsl/kgsl-3d0/devfreq/max_freq 750000000
    write /sys/class/kgsl/kgsl-3d0/devfreq/min_freq 260000000

    # Adreno Boost
    write /sys/class/kgsl/kgsl-3d0/devfreq/adrenoboost 3

    # Adreno Idler
    write /sys/module/adreno_idler/parameters/adreno_idler_active 0

    # I/O Scheduler
    write /sys/block/mmcblk0/queue/read_ahead_kb 2048
    write /sys/block/mmcblk0/queue/scheduler anxiety

    # Brightness
    write /sys/class/leds/lcd-backlight/max_brightness 255

    # Fast Charging
    write /sys/kernel/fast_charge/force_fast_charge 1
